/* Header1 css*/

.all {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  border-bottom: 1px solid rgb(238, 238, 238);
  height: 40px;
  background: rgb(255, 255, 255);
}

.all1 {
  width: 1024px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.all2 {
  display: flex;
  flex-shrink: 0;
}

.appdown {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 13px;
  padding: 0px 15px;
  position: relative;
  line-height: 1.4;
  text-decoration: none;
  color: black;
}

.butt {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 13px;
  padding: 0px 15px;
  position: relative;
  line-height: 1.4;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.login {
  display: flex;
  flex-shrink: 0;
}

/* header2 */
.aall {
  position: sticky;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 35px;
  background: rgb(255, 255, 255);
  z-index: 10;
  border-bottom: 1px solid rgb(238, 238, 238);
  top: 0px;
  left: 0px;
}
